body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* h-2 invisible*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #region header */
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header-logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-icon-menu {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-list > .nav-item > .studio {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-list .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list .nav-link:hover,
  .nav-list .nav-link:focus,
  .contacts-list .contacts-link:hover,
  .contacts-list .contacts-link:focus {
    color: #404bbf;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
  }

  .contacts .contacts-link {
    font-size: 16px;
    padding: 24px 0;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* #endregion */

/* #region mobile */

.mobile-menu {
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* .mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
} */

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 24px;
  right: 24px;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-btn:hover > .mobile-menu-close,
.mobile-menu-btn:focus > .mobile-menu-close {
  fill: #ffffff;
}

.mobile-menu-close {
  padding: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link.studio {
  color: #404bbf;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.mobile-menu-list .mobile-menu-link:hover,
.mobile-menu-list .mobile-menu-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 24px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-list .mobile-contacts-link:hover,
.mobile-contacts-list .mobile-contacts-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.mobile-list-icon {
  display: flex;
  margin-top: 48px;
  gap: 40px;
  flex-shrink: 0;
}

.mobile-item {
  width: 40px;
  height: 40px;
}

.mobile-list-icon .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list-icon .link:hover,
.mobile-list-icon .link:focus {
  background-color: #404bbf;
}

.mobile-icon {
  display: inline-flex;
  fill: #f4f4fd;
}

.mobile-icon:hover {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile */

/* #region section 1 "title" */
.title {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  padding: 72px 0;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name.jpg);
  }
}

.title-head {
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

.title-button {
  display: block;
  cursor: pointer;
  text-align: center;
  background: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .title {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-name.jpg);
    }
  }
  .title-head {
    min-width: 496px;
  }

  .title-head {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .title {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-name.jpg);
    }
  }

  .title-head {
    margin-bottom: 48px;
  }
}

/* #endregion */

/* #region section 2 "feature" */
@media (max-width: 1157px) {
  .feature-section {
    padding: 96px 0;
  }
}

@media (min-width: 1158px) {
  .feature-section {
    padding: 120px 0;
  }
}

@media screen and (max-width: 767px) {
  .feature-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .feature-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.feature-item-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

@media screen and (max-width: 1157px) {
  .feature-item-border {
    display: none;
  }
}

.feature-item_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .feature-item_title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .feature-item_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.feature-item_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

@media screen and (min-width: 1158px) {
  .feature-item_text {
    font-weight: 400;
  }
}
/* #endregion section 2 "feature" */

/* #region section 3 team */
.team {
  background: #f4f4fd;
}

@media screen and (max-width: 1157px) {
  .team {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}
.team-hide {
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-item {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100%-24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100%-72px) / 4);
  }
}

.team-box {
  padding: 32px 0;
}

.team-item_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-links_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-links_item {
  width: 40px;
  height: 40px;
}

.team-social-links_item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links_list .link:hover,
.team-social-links_list .link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #fff;
}
/* #endregion section 3 team */

/* #region section 4 portfolio*/
.portfolio {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-hide {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
}

.portfolio-list,
.portfolio-item {
  background-color: #ffffff;
}

@media screen and (max-width: 1157px) {
  .portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-pic {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}

.portfolio-image {
  object-fit: cover;
}

.portfolio-box {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item_title {
  margin-bottom: 8px;
}

.portfolio-text {
  text-align: left;
  font-size: 16px;
  text-indent: 0;
}
/* #endregion section 4 portfolio*/

/* #region footer */
.page-footer {
  background-color: #2e2f42;
}

@media screen and (max-width: 1157px) {
  .page-footer {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
}

.footer-box {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-box {
    width: 552px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1158px) {
  .footer-box {
    display: flex;
    text-align: start;
    margin: 0 auto;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 17.5px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 16px;
  }
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  text-align: left;
  color: #434455;
  max-width: 264px;
}

.footer-text {
  color: #f4f4fd;
}

.footer-media-box {
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .footer-media-box {
    margin-top: 0;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-media-box {
    margin-left: 80px;
  }
}

.footer-media_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-media_text {
    margin-top: 0;
  }
}

.footer-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-list-icon .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon .link:hover,
.footer-list-icon .link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  display: inline-flex;
  fill: #f4f4fd;
}

@media screen and (max-width: 1157px) {
  .footer-subscribe {
    margin-top: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-top: 0px;
    margin-left: 80px;
  }
}

.sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form {
    gap: 24px;
  }
}

.footer-email {
  width: 100%;
  min-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer-email {
    width: 264px;
  }
}

.footer-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-btn-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.footer-btn-sub:hover,
.footer-btn-sub:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .footer-btn-sub {
    margin-top: 0;
  }
}

.icon-frame {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 1158px) {
}
/* #endregion footer */

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
}

.modal-window {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .modal-window {
    max-width: 408px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  padding: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover > .icon-close,
.modal-btn:focus > .icon-close {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.modal-form-field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-weight: 400;
}

.modal-label-input {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:hover + .modal-icon,
.modal-form-input:focus + .modal-icon {
  fill: #4d5ae5;
  border: none;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

@media screen and (max-width: 1157px) {
  .modal-cont-checkbox {
    margin: auto;
  }
}

.modal-cont-checkbox {
  margin-bottom: 24px;
}

.modal-privacy-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  fill: #f4f4fd;
}

.checkbox-custom {
  margin-right: 8px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: inline-flex;
  align-items: center;
  justify-content: center; */
  flex-shrink: 0;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.checkbox[type='checkbox']:checked
  + .modal-privacy-checkbox
  > .checkbox-custom {
  fill: #f4f4fd;
  border-color: none;
  background-color: #404bbf;
}

.privacy-page {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  cursor: pointer;
  word-break: normal;
  word-break: break-all;
}

.modal-send {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:hover,
.modal-send:focus {
  background-color: #404bbf;
  text-decoration: underline;
}
